.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}
.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  
  flex: 0 0 18%; //Don't grow - don't shrink - Take up 18% of width

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-view {
  background-color: #fff;

  //TEST
  // background-color: orangered;
  height: 80rem;

  flex: 1; //Take up remaining space after sidebar figures things out. 
}