/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 131, 0.8)), 
         url(../img/hero.jpg);
    background-size: cover;
    background-position: top; /* Makes sure that top of the image will always stay at the top of the div. Center will keep the center of the image always in teh centre. Top and bottom will be cup off with resize. */
    position:relative;

    clip-path: polygon( 0 0, 100% 0, 100% 80%, 0 100%); /* Make cool cut of header image */
}

.logo-box {
    position: absolute;
    top: 40px;
    left:40px;
}
.logo {
    height: 35px;
}

.text-box {
    /* To center element and it be responsive */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.heading-primary {
    color: #fff;
    text-transform: uppercase;
} 
.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}
.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
}