* {
    margin: 0;
    padding: 0;
}

$color-primary: #f9ed69; // yellow color
$color-secondary: #f08a5d;
$color-tertiary: #b83b5e;
$color-text-dark: #333;
$color-text-light: #eee;

$width-button: 150px;

nav {
    margin: 30px; 
    background-color: $color-primary;

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
.navigation {
    list-style: none;
    float: left;

    li {
        display: inline-block;
        margin-left: 30px;

        &:first-child {
            margin: 0;
        }

        a:link {
            text-decoration: none;
            text-transform:  uppercase;
            color: $color-text-dark;
        }
    }
}

.buttons{
    float:right;
}

.btn-main:link, 
.btn-hot:link {
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    width: $width-button;
    color: $color-text-light;
}
.btn-main {
    &:link {
        background-color: $color-secondary;
    }

    &:hover {
        background-color: darken($color-secondary, 15%);
    }
}
.btn-hot {
    &:link {
        background-color: $color-tertiary;
    }

    &:hover {
        background-color: lighten($color-tertiary, 10%);
    }
}