.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
 
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        // For the following polygon to work, the element must have set width and height + a float
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        //For the element to actually look like a circle:
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        transform: translateX(-3rem) skewX(12deg);;
    }
    &__img {
        height: 100%;
    }
    &__text {
        transform: skewX(12deg);
    }
}