.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/ sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;
}
.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 3px;
  width: 4.5rem;
  margin-top: 4rem;
  
  &::before, 
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    height: 3px;
    width: 4.5rem;
  }
  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }
}