*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    /* Setting HTML font to 62.5% allows user to zoon in and out while giving us the 10px base from 16px default */
    /* Later allows for easier use of rem - note: rem not compatible with ES9 */
    // This defines what 1rem is
    font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%

    @include respond(tab-land) { //width < 1200
        font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
    }
    @include respond(tab-port) { //width < 900
        font-size: 50%; //1rem = 8px, 8/18 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) { 
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}