*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    /* Setting HTML font to 62.5% allows user to zoon in and out while giving us the 10px base from 16px default */
    /* Later allows for easier use of rem - note: rem not compatible with ES9 */
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}